[submodule "extras"]
	path = extras
	url = https://github.com/vasilis22/extras
	branch = master
[submodule "quotes"]
	path = quotes
	url = https://github.com/vasilis22/_quotes
	branch = master
[submodule "figures"]
	path = figures
	url = https://github.com/vasilis22/_gallery
[submodule "images"]
	path = images
	url = https://github.com/vasilis22/images
[submodule "text"]
	path = text
	url = https://github.com/vasilis22/text
	branch = main
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/vasilis22/bibliography
